language: java
jdk:
  - openjdk8
  - oraclejdk8
  - oraclejdk9
env:
  matrix:
    - PROFILE=apache
    - PROFILE=cdh512
    - PROFILE=cdh513

script: "mvn clean install -P ${PROFILE}"

after_success:
  - mvn clean test jacoco:report coveralls:report